<div class="col s12">
  <div class="card">
    <div class="card-content">
      {{#link-to 'experiment.index' experiment class="card-title blue-text"}}{{experiment.name}}{{/link-to}}
      {{!-- add here action: refresh --}}
      <span class="card-minor-details">({{format-date experiment.dateCreated}})</span>
      {{!-- good idea - add some graph here --}}
      <a href="javascript:void(0)" {{action "updateData"}} class="refresh-data-button waves-effect waves-circle btn-floating white tooltipped" data-position="bottom" data-tooltip="Refresh data">
        <i class="small mdi-action-settings-backup-restore grey-text text-darken-2"></i>
      </a>
      {{c3-basic-graph data=experiment.variants settings=graphSettings}}
      <p>{{experiment.description}}</p>
    </div>
    <div class="card-action custom-actions-style align-right">
      <a href='#' class="waves-effect waves-light waves-circle btn-floating green darken-3 tooltipped" data-position="bottom" data-tooltip="Put full-on">
        <i class="left mdi-action-done-all"></i>
      </a>
      <a href='#' class="waves-effect waves-light waves-circle btn-floating yellow darken-3 tooltipped" data-position="bottom" data-tooltip="Reset">
        <i class="left mdi-av-loop"></i>
      </a>
      <a href='#' class="waves-effect waves-light waves-circle btn-floating red darken-3 tooltipped" data-position="bottom" data-tooltip="Stop">
        <i class="left mdi-av-not-interested"></i>
      </a>
      {{#link-to 'experiment.edit' experiment class="waves-effect waves-circle waves-light btn-floating blue darken-3 tooltipped" data-position="bottom" data-tooltip="Edit"}}
        <i class="left mdi-action-settings"></i>
      {{/link-to}}
    </div>
  </div>
</div>
