<div class="col s12">
  Experiments: {{controller.length}}
</div>
{{!-- 
  here comes the toolbar
  actions: 
    1) show running/all experiments
    2) show conclusive / all experimnets
 --}}
<div class="col s12">
  {{#link-to "experiments.create" class="btn waves-effect waves-light icon-adjustment-left"}}
    <i class="left mdi-content-add"></i>
    Create experiment
  {{/link-to}}
</div>


{{#each experiment in controller}}
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        {{#link-to 'experiment.index' experiment class="card-title blue-text"}}{{experiment.name}}{{/link-to}}
        {{!-- add here action: refresh --}}
        <span class="card-minor-details">({{format-date experiment.dateCreated}})</span>
        <p>{{experiment.description}}</p>
      </div>
      <div class="card-action custom-actions-style">
        <a href='#' class="waves-effect waves-light btn green darken-3">
          <i class="left mdi-action-done-all"></i>
          Full-on
        </a>
        <a href='#' class="waves-effect waves-light btn yellow darken-3">
          <i class="left mdi-av-loop"></i>
          Reset
        </a>
        <a href='#' class="waves-effect waves-light btn red darken-3">
          <i class="left mdi-av-not-interested"></i>
          Stop
        </a>
        {{#link-to 'experiment.edit' experiment class="no-margin-bottom waves-effect waves-light btn blue darken-3"}}
          <i class="left mdi-action-settings"></i>
          Edit
        {{/link-to}}
      </div>
    </div>
  </div>
{{else}}
  no experiments… :-(
{{/each}}


{{outlet}}
